:host {
  display: block;
}

.well1 {
  padding-top: 32px;
  padding-bottom: 60px;
}

.ins4 {
  padding-bottom: 20px;
}

.bg-image {
  background: url("/assets/components/content-services/can-help/assets/page-3_bg.jpg") center no-repeat;
  background-size: cover;
}
.bg-image p {
  font-size: 16px;
}

.container {
  padding-bottom: 50px;
}
