@import "variables";

:host {
  background: $color-wild-sand;
  border: 3px solid #bada55;
  border-radius: 3px;
  padding: 1em;
  margin: 1em auto;
  display: flex;
  > * {
    flex: 1 1 auto;
  }
}
