<section class="well3">
  <div class="container">
    <ul class="row contact-list">
      <li class="grid_4">
        <app-contact-item iconName="fa-map-marker" tag="address">4578 Marmora Road,Glasgow<br/> D04 89GR</app-contact-item>
        <app-contact-item iconName="fa-envelope" tag="a" link="mailto:#">info@demolink.org</app-contact-item>
      </li>
      <li class="grid_4">
        <app-contact-item iconName="fa-phone" tag="a" link="callto:#">800-2345-6789</app-contact-item>
        <app-contact-item iconName="fa-fax" tag="a" link="callto:#">800-2345-6790</app-contact-item>
      </li>
      <li class="grid_4">
        <app-contact-item iconName="fa-facebook" tag="a" link="#">Follow on facebook</app-contact-item>
        <app-contact-item iconName="fa-twitter" tag="a" link="#">Follow on Twitter</app-contact-item>
      </li>
    </ul>
  </div>
</section>
