<section class="well bg-secondary2">
  <div class="container">
    <ul class="row product-list">
      <li class="grid_6">
        <div class="box wow fadeInRight">
          <div class="box_aside">
            <div class="icon fa-star"></div>
          </div>
          <div class="box_cnt__no-flow">
            <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
            <p>Aliquam a odio arcu. Morbi a dignissim nisl? Aenean aliquet magna in nulla congue vehicula. Morbi dignissim tristique.</p>
          </div>
        </div>
        <hr>
        <div data-wow-delay="0.3s" class="box wow fadeInRight">
          <div class="box_aside">
            <div class="icon fa-envelope"></div>
          </div>
          <div class="box_cnt__no-flow">
            <h3><a href="#">Dolor sit amet conse ctetur</a></h3>
            <p>Morbi dignissim tristique turpis sed sodales. In tincidunt dapibus semper. Nullam non orci eu massa tempus aliquam!</p>
          </div>
        </div>
      </li>
      <li class="grid_6">
        <div data-wow-delay="0.2s" class="box wow fadeInRight">
          <div class="box_aside">
            <div class="icon fa-laptop"></div>
          </div>
          <div class="box_cnt__no-flow">
            <h3><a href="#">Ut enim ad minim veniam</a></h3>
            <p>Quisque placerat metus at neque aliquam sit amet iaculis lacus iaculis. Etiam ultrices condimentum justo eu viverra. </p>
          </div>
        </div>
        <hr>
        <div data-wow-delay="0.4s" class="box wow fadeInRight">
          <div class="box_aside">
            <div class="icon fa-cogs"></div>
          </div>
          <div class="box_cnt__no-flow">
            <h3><a href="#">Exercitation ullamco laboris nisi </a></h3>
            <p>Curabitur lacinia tristique imperdiet. Aenean bibendum vehicula diam nec placerat. Donec lectus leo, consequat sit amet viverra.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
