<section class="well1 ins3">
  <div class="container">
    <h2>Who we are</h2>
    <div class="row off1">
      <div class="grid_6">
        <h3>About us</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Suspendisse commodo tempor sagittis!<br/><br/>In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
        <hr>
        <h3>What we offer</h3>
        <div class="row">
          <div data-wow-delay="0.2s" class="grid_3 wow fadeInLeft"><img src="/assets/components/content-about/we-are/assets/page-2_img01.jpg" alt=""></div>
          <div class="grid_3 wow fadeInLeft"><img src="/assets/components/content-about/we-are/assets/page-2_img02.jpg" alt=""></div>
        </div>
        <p>Nam justo elit, dictum id tempus a, ultricies tempus lacus. Nunc purus nibh; eleifend eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci accumsan tincidunt ut ut elit. Vestibulum nisi orci, rutrum ac auctor non, viverra et magna?</p>
      </div>
      <div class="grid_6">
        <h3>Our staff</h3>
        <div class="row">
          <div class="grid_2 wow fadeInRight"><img src="/assets/components/content-about/we-are/assets/page-2_img03.jpg" alt=""><img src="/assets/components/content-about/we-are/assets/page-2_img06.jpg" alt=""></div>
          <div data-wow-delay="0.2s" class="grid_2 wow fadeInRight"><img src="/assets/components/content-about/we-are/assets/page-2_img04.jpg" alt=""><img src="/assets/components/content-about/we-are/assets/page-2_img07.jpg" alt=""></div>
          <div data-wow-delay="0.4s" class="grid_2 wow fadeInRight"><img src="/assets/components/content-about/we-are/assets/page-2_img05.jpg" alt=""><img src="/assets/components/content-about/we-are/assets/page-2_img08.jpg" alt=""></div>
        </div>
        <p>Curabitur facilisis pellentesque pharetra. Donec justo urna, malesuada a viverra ac, pellentesque vitae nunc. Aenean ac leo eget nunc fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices.</p>
        <hr>
        <h3>Our advantages</h3>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
      </div>
    </div>
  </div>
</section>
