:host {
  display: block;
}


.slider {
  position: relative;
  height: 400px;
}

.slides {
  position: absolute;
  opacity: 0;
  transition: opacity .8s;
}
.active{
  opacity: 1;
  transition: opacity .8s;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.arrow {
  opacity: .25;
  color: #3498db;
  padding: .2em .4em;
  font-size: 3em;
  border: 1px solid #ddddff;
  margin: .5em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
