:host {
  display: block;
}


.slider {
  position: relative;
  height: 400px;
  //background-color: red;
}

.slides {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}
.active{
  opacity: 1;
  transition: opacity 1s;
}
.controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.arrow {
  padding: .5em 1em;
  font-size: 1.2em;
  border: 1px solid #eeeeff;
  margin: 1em;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
