:host {
  background: #f5f5f5;
  color: #56585a;
  font: 400 14px/28px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
}

footer {
  color: #888a8c;
  background: #434547;
}

footer section + section .container {
  border-top: 1px solid #888a8c;
}

footer .copyright {
  padding-top: 21px;
  padding-bottom: 55px;
}

footer .copyright a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  footer .copyright {
    text-align: center;
  }
}

.well3 {
  padding-top: 59px;
  padding-bottom: 61px;
}
