<footer>
  <section class="well3">
    <div class="container">
      <ul class="row contact-list">
        <li class="grid_4">
          <!-- <div class="box">
            <div class="box_aside">
              <div class="icon2 fa fa-map-marker"></div>
            </div>
            <div class="box_cnt__no-flow">
              <address>4578 Marmora Road,Glasgow<br/> D04 89GR</address>
            </div>
          </div> -->
          <app-contact-item iconName="fa-map-marker" tag="address">4578 Marmora Road,Glasgow<br/> D04 89GR</app-contact-item>
          <!-- <div class="box">
            <div class="box_aside">
              <div class="icon2 fa fa-envelope"></div>
            </div>
            <div class="box_cnt__no-flow">
            <a href="mailto:#">info@demolink.org</a>
          </div>
          </div> -->
          <app-contact-item iconName="fa-envelope" tag="a" href="mailto:#">info@demolink.org</app-contact-item>
        </li>
        <li class="grid_4">
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa fa-phone"></div>
            </div>
            <div class="box_cnt__no-flow"><a href="callto:#">800-2345-6789</a></div>
          </div>
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa fa-fax"></div>
            </div>
            <div class="box_cnt__no-flow"><a href="callto:#">800-2345-6790</a></div>
          </div>
        </li>
        <li class="grid_4">
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa fa-facebook"></div>
            </div>
            <div class="box_cnt__no-flow"><a href="#">Follow on facebook</a></div>
          </div>
          <div class="box">
            <div class="box_aside">
              <div class="icon2 fa fa-twitter"></div>
            </div>
            <div class="box_cnt__no-flow"><a href="#">Follow on Twitter</a></div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="copyright">Business Company © <span id="copyright-year">2018</span>.&nbsp;&nbsp;<a href="index-5.html">Privacy Policy</a>
      </div>
    </div>
  </section>
</footer>
