<div class="stuck_container" [class.is_stuck]="isStuck">
  <div class="container">
    <nav class="nav">
      <ul data-type="navbar" class="sf-menu">
        <li *ngFor="let item of navItems"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
        (mouseenter)="subMenuOn(true, item)"
        (mouseleave)="subMenuOn(false, item)">
          <a routerLink="{{item.link}}">{{item.name}}</a>
          <ul *ngIf="item.subMenu" [class.display_sub]="item.subMenuActive">
            <li *ngFor="let itemSubMenu of item.subMenu">
              <a routerLink="{{itemSubMenu.link}}">{{itemSubMenu.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
