:host {
  background: #f5f5f5;
  color: #56585a;
  font: 400 14px/28px "Roboto", sans-serif;
  -webkit-text-size-adjust: none;
}

.stuck_container {
  margin-top: 22px;
  background: #434547;
}

.isStuck {
  margin-top: 0;
  z-index: 9999;
  border-bottom: 1px solid #888;
}

@media only screen and (max-width: 979px) {
  .isStuck {
    display: none !important;
  }
}

.sf-menu {
  display: inline-block;
}
.sf-menu:before, .sf-menu:after {
  display: table;
  content: "";
  line-height: 0;
}
.sf-menu:after {
  clear: both;
}
.sf-menu > li {
  position: relative;
  float: left;
}
.sf-menu a {
  display: block;
}

.sf-menu > li > a {
  padding: 22px 30px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  border-right: 1px solid #56585a;
}
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
  color: #fff;
  background: #5ab7de;
  border-right: 1px solid #4bb0db;
}
.sf-menu > li.active > a {
  color: #fff;
  background: #5ab7de;
  border-right: 1px solid #4bb0db;
}

.sf-menu ul {
  display: none;
  position: absolute;
  top: 100%;
  width: 235px;
  background: #f5f5f5;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sf-menu ul > li {
  position: relative;
}
.sf-menu ul > li > a {
  font-size: 16px;
  padding: 11px 31px;
  color: #62bfe6;
  background: #f5f5f5;
}
.sf-menu ul > li + li {
  border-top: 1px solid #e5e5e5;
}
.sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
  color: #777777;
}

.sf-menu ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  width: 235px;
  margin-top: 0;
  margin-left: 10px;
  padding: 0;
  z-index: 4;
}

.sf-menu > li > ul > li > .sf-with-ul {
  position: relative;
}
.sf-menu > li > ul > li > .sf-with-ul:before {
  position: absolute;
  right: 19px;
  top: 0;
  margin-left: -6px;
  content: "";
  font: 400 16px/50px "FontAwesome";
  color: #62bfe6;
}

@media (max-width: 767px) {
  .sf-menu {
    display: none;
  }
}
