<div id="stuck_container" class="stuck_container">
  <div class="container">
    <nav class="nav">
      <ul data-type="navbar" class="sf-menu">
        <!-- <li class="active"><a href="./">Home</a> -->
        <li class="active"><a routerLink="/home">Home</a>
        </li>
        <!-- <li><a href="index-1.html">About</a> -->
        <li><a routerLink="/about">About</a>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Conse ctetur adipisicing</a></li>
            <li><a href="#">Elit sed do eiusmod
              <ul>
                <li><a href="#">Lorem ipsum</a></li>
                <li><a href="#">Conse adipisicing</a></li>
                <li><a href="#">Sit amet dolore</a></li>
              </ul></a></li>
            <li><a href="#">Incididunt ut labore</a></li>
            <li><a href="#">Et dolore magna</a></li>
            <li><a href="#">Ut enim ad minim</a></li>
          </ul>
        </li>
        <li><a routerLink="/services">Services</a>
        </li>
        <li><a routerLink="/faqs">FAQS</a>
        </li>
        <li><a routerLink="/contacts">Contacts</a>
        </li>
        <li><a routerLink="/test">Test page</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
