.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}


.icon {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 52px;
  text-align: center;
  color: #fff;
  background: #62bfe6;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.icon:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon2 {
  position: relative;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 34px;
  text-align: center;
  color: #62bfe6;
  background: #4a4c4d;
}
.icon2:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
