<div class="container">
  <div class="row">

    <div class="grid_3">
      <h3>Partneru saraksts</h3>
      <ul (mouseleave)="clearActiveItem()">
        <li class="partners-item" *ngFor="let item of myPartners"
        (mouseenter)="readActiveItem(item)"
        (click)="readEditItem(item)"
        [class.active] = "item === activeItem && item != editItem"
        [class.edit] = "item === editItem">
          <span>{{item.name}}</span>
        </li>
      </ul>
    </div>

    <div class="grid_4 box-content">
      <app-decription caption ="Apraksts" [item] = "activeItem"></app-decription>
    </div>

    <div class="grid_4 box-content">
      <app-edit caption ="Labot aprakstu" [item] = "editItem"></app-edit>
    </div>

  </div>
</div>
