:host{
  display: block;
}
.container {
  padding-bottom: 50px;
}

.partners-item{
  display: block;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #aaa;
  &:hover{
    cursor:pointer;
  }
}
.box-content{
  min-height: 150px;
}
.edit {
  background-color: #a0db8e;
}
.active {
  background-color: #ddd;
}
