<section class="well1">
  <div class="container">
    <h2>Feedback</h2>
    <form [formGroup]="feedbackForm" class="mailform off2" novalidate>
      <fieldset class="row">
        <label class="grid_4">
          <input type="text" name="name" placeholder="Your Name:"
            [formControlName]="'name'"
          >
          <span class="errors" *ngIf="nameControl.touched && nameControl.invalid">
            <span class="error" *ngIf="nameControl.errors?.required">Field is required</span>
            <span class="error" *ngIf="nameControl.errors?.forbiddenName">{{nameControl.value}} shall not pass</span>
          </span>
        </label>
        <label class="grid_4">
          <input type="text" name="phone" placeholder="Telephone:">
        </label>
        <label class="grid_4">
          <input type="email" name="email" placeholder="Email:">
        </label>
        <label class="grid_12">
          <textarea name="message" placeholder="Message:"></textarea>
        </label>
        <div class="mfControls grid_12">
          <app-btn type="submit">Submit comment</app-btn>
        </div>
      </fieldset>
    </form>
  </div>
</section>
