@import 'variables';
:host {
  display: block;
  width: 100%;
}
.loader {
  margin: 20px auto;
  opacity: .5;
  border: ($loader-size / 5) solid #62bfe6;;
  border-radius: 50%;
  border-top: ($loader-size / 5) solid #3498db;
  width: $loader-size;
  height: $loader-size;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
