:host {
  display: block;
}

.well1 {
  padding-top: 32px;
  padding-bottom: 60px;
}

.container {
  padding-bottom: 20px;
}

.ins3 {
  padding-bottom: 43px;
}
/*==================  Backgrounds  ======================*/

.bg-primary {
  color: #fff;
  background: #62bfe6;
}

.bg-primary h2 {
  color: #fff;
}
