<section>
  <div class="container banner_wr">
    <ul class="banner">
      <li>
        <div class="fa-globe"></div>
        <h3>Global<br/>research</h3>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p><a href="#"></a>
      </li>
      <li>
        <div class="fa-lightbulb-o"></div>
        <h3>Creative<br/>ideas</h3>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p><a href="#"></a>
      </li>
      <li>
        <div class="fa-cog"></div>
        <h3>New<br/>services</h3>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p><a href="#"></a>
      </li>
      <li>
        <div class="fa-briefcase"></div>
        <h3>Pro<br/>management</h3>
        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p><a href="#"></a>
      </li>
    </ul>
  </div>
</section>
