<section class="camera_container">
  <div id="camera" class="camera_wrap">
    <div data-src="images/page-1_slide01.jpg">
      <div class="camera_caption fadeIn">
        <div class="container">
          <div class="row">
            <div class="preffix_6 grid_6">Helping with any of your business needs!</div>
          </div>
        </div>
      </div>
    </div>
    <div data-src="images/page-1_slide02.jpg">
      <div class="camera_caption fadeIn">
        <div class="container">
          <div class="row">
            <div class="preffix_6 grid_6">The best strategies to attract new business</div>
          </div>
        </div>
      </div>
    </div>
    <div data-src="images/page-1_slide03.jpg">
      <div class="camera_caption fadeIn">
        <div class="container">
          <div class="row">
            <div class="preffix_6 grid_6">A wide range of global business information</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
