:host{
  display: block;
}

.well1 {
  padding-top: 32px;
  padding-bottom: 60px;
}

.container {
  padding-bottom: 50px;
}

/*==================  Marked List  ======================*/
.marked-list li {
  position: relative;
  padding-left: 41px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #62bfe6;
}
.marked-list li a:before {
  content: "\f00c";
  position: absolute;
  left: 0;
  top: 16px;
  font-weight: 400;
  font-size: 22px;
  font-family: "FontAwesome";
}
.marked-list li + li {
  margin-top: 0px;
  border-top: 1px solid #e5e5e5;
}
.marked-list a:hover {
  color: #777777;
}
/*==================    Info Box   ======================*/
.info-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 7px;
  padding: 30px 30px 25px;
  color: #fff;
  background: #57aacd;
}
.info-box dt,
.info-box dd {
  display: inline-block;
}
.info-box hr {
  background: #fff;
}
.info-box [class^="fa-"]:before {
  padding-right: 13px;
  font-size: 54px;
}
.info-box h2 {
  color: #fff;
  position: relative;
  padding-left: 65px;
}
.info-box h2:before {
  position: absolute;
  left: 0;
}
.info-box h3 {
  color: #fff;
}
.info-box h2 + hr {
  margin-top: 26px;
}
.info-box * + h3 {
  margin-top: 18px;
}
.info-box h3 + dl {
  margin-top: 4px;
}
.info-box dl + hr {
  margin-top: 25px;
}
/*==================      Box      ======================*/
.box:before, .box:after {
  display: table;
  content: "";
  line-height: 0;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
}
.box_cnt__no-flow {
  overflow: hidden;
}
/*==================    Buttons    ======================*/
.btn,
.btn2 {
  display: inline-block;
  width: 150px;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover,
.btn2:hover {
  background: #4ab5e2;
}
.btn:active,
.btn2:active {
  background: #22a1d7;
}

.btn {
  color: #fff;
  background: #62bfe6;
}

.btn2 {
  color: #62bfe6;
  background: #eaeaea;
}
.btn2:hover, .btn2:active {
  color: #fff;
}

.btn_wr [class*="btn"] {
  padding: 16px 30px;
  display: inline-block;
  width: auto;
}
.btn_wr [class*="btn"] + [class*="btn"] {
  margin-top: 0;
  margin-left: 20px;
}
.btn_wr + .btn_wr {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .btn_wr [class*="btn"] {
    width: 100%;
  }
  .btn_wr [class*="btn"] + [class*="btn"] {
    margin-top: 20px;
    margin-left: 0;
  }
}


//
//
//
// /*========================================================
//                       Owl Carousel
// =========================================================*/
// .owl-carousel .animated {
//   -webkit-animation-duration: 1000ms;
//   animation-duration: 1000ms;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
// }
//
// .owl-carousel .owl-animated-in {
//   z-index: 0;
// }
//
// .owl-carousel .owl-animated-out {
//   z-index: 1;
// }
//
// .owl-carousel .fadeOut {
//   -webkit-animation-name: fadeOut;
//   animation-name: fadeOut;
// }
//
// @-webkit-keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
// @keyframes fadeOut {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
// .owl-height {
//   -moz-transition: height 500ms ease-in-out;
//   -o-transition: height 500ms ease-in-out;
//   -webkit-transition: height 500ms ease-in-out;
//   transition: height 500ms ease-in-out;
// }
//
// .owl-carousel {
//   display: none;
//   width: 100%;
//   -webkit-tap-highlight-color: transparent;
//   position: relative;
//   z-index: 1;
// }
//
// .owl-carousel .owl-stage {
//   position: relative;
//   -ms-touch-action: pan-Y;
// }
//
// .owl-carousel .owl-stage:after {
//   content: ".";
//   display: block;
//   clear: both;
//   visibility: hidden;
//   line-height: 0;
//   height: 0;
// }
//
// .owl-carousel .owl-stage-outer {
//   position: relative;
//   overflow: hidden;
//   -webkit-transform: translate3d(0px, 0px, 0px);
// }
//
// .owl-carousel .owl-controls .owl-nav .owl-prev,
// .owl-carousel .owl-controls .owl-nav .owl-next,
// .owl-carousel .owl-controls .owl-dot {
//   cursor: pointer;
//   cursor: hand;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
//
// .owl-carousel.owl-loaded {
//   display: block;
// }
//
// .owl-carousel.owl-loading {
//   opacity: 0;
//   display: block;
// }
//
// .owl-carousel.owl-hidden {
//   opacity: 0;
// }
//
// .owl-carousel .owl-refresh .owl-item {
//   display: none;
// }
//
// .owl-carousel .owl-item {
//   position: relative;
//   min-height: 1px;
//   float: left;
//   -webkit-backface-visibility: hidden;
//   -webkit-tap-highlight-color: transparent;
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
//
// .owl-carousel .owl-item img {
//   display: block;
//   width: 100%;
//   -webkit-transform-style: preserve-3d;
// }
//
// .owl-carousel.owl-text-select-on .owl-item {
//   -webkit-user-select: none;
//   -khtml-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
//
// .owl-carousel .owl-grab {
//   cursor: move;
//   cursor: -webkit-grab;
//   cursor: -o-grab;
//   cursor: -ms-grab;
//   cursor: grab;
// }
//
// .owl-carousel.owl-rtl {
//   direction: rtl;
// }
//
// .owl-carousel.owl-rtl .owl-item {
//   float: right;
// }
//
// .no-js .owl-carousel {
//   display: block;
// }
//
// .owl-carousel .owl-item .owl-lazy {
//   opacity: 0;
//   -moz-transition: opacity 400ms ease;
//   -o-transition: opacity 400ms ease;
//   -webkit-transition: opacity 400ms ease;
//   transition: opacity 400ms ease;
// }
//
// .owl-carousel .owl-item img {
//   transform-style: preserve-3d;
// }
//
// .owl-carousel .owl-video-wrapper {
//   position: relative;
//   height: 100%;
//   background: #000;
// }
//
// .owl-carousel .owl-video-play-icon {
//   position: absolute;
//   height: 80px;
//   width: 80px;
//   left: 50%;
//   top: 50%;
//   margin-left: -40px;
//   margin-top: -40px;
//   //background: url("owl.video.play.png") no-repeat;
//   cursor: pointer;
//   z-index: 1;
//   -webkit-backface-visibility: hidden;
//   -moz-transition: scale 100ms ease;
//   -o-transition: scale 100ms ease;
//   -webkit-transition: scale 100ms ease;
//   transition: scale 100ms ease;
// }
//
// .owl-carousel .owl-video-play-icon:hover {
//   -moz-transform: scale(1.3, 1.3);
//   -ms-transform: scale(1.3, 1.3);
//   -o-transform: scale(1.3, 1.3);
//   -webkit-transform: scale(1.3, 1.3);
//   transform: scale(1.3, 1.3);
// }
//
// .owl-carousel .owl-video-playing .owl-video-tn,
// .owl-carousel .owl-video-playing .owl-video-play-icon {
//   display: none;
// }
//
// .owl-carousel .owl-video-tn {
//   opacity: 0;
//   height: 100%;
//   background-position: center center;
//   background-repeat: no-repeat;
//   -webkit-background-size: contain;
//   -moz-background-size: contain;
//   -o-background-size: contain;
//   background-size: contain;
//   -moz-transition: opacity 400ms ease;
//   -o-transition: opacity 400ms ease;
//   -webkit-transition: opacity 400ms ease;
//   transition: opacity 400ms ease;
// }
//
// .owl-carousel .owl-video-frame {
//   position: relative;
//   z-index: 1;
// }
//
// .owl-carousel {
//   padding: 30px 30px 14px;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
//   background: #f5f5f5;
// }
//
// .owl-nav .owl-prev + .owl-next {
//   margin-left: 0;
// }
//
// .owl-dots {
//   margin-top: 24px;
//   text-align: center;
// }
// .owl-dots .owl-dot {
//   display: inline-block;
//   width: 12px;
//   height: 12px;
//   background: #dbdbdb;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   -moz-transition: 0.3s all ease;
//   -o-transition: 0.3s all ease;
//   -webkit-transition: 0.3s all ease;
//   transition: 0.3s all ease;
// }
// .owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
//   background: #6bc7ed;
// }
// .owl-dots .owl-dot + .owl-dot {
//   margin-left: 9px;
// }
