<h3>{{caption}}</h3>
<ng-container *ngIf="!! item">

  <form class="box-grid">
    <label>Nosaukums:</label>
    <input type="text" id="name" [(ngModel)]="item.name" name="name"
    [class.err]="err === 11" placeholder="Obligāti norādiet vērtību..."/>

    <label>Valsts kods:</label>
    <input type="text" id="countryCode" [(ngModel)]="item.countryCode" name="countryCode" />

    <label>Reģ. numurs:</label>
    <input type="text" id="regNr" [(ngModel)]="item.regNr" name="regNr" />
  </form>
  <ng-container *ngIf="! item.id">
    <button class="btn-my" (click)="addItem()">Pievienot</button>
    <div class="box-radio">
      <input type="radio" name="add-type" value="bottom"
      [checked]="chk" (change)="changeRBtn($event)"> Beigās
      <input type="radio" name="add-type" value="insert"
      [checked]="!chk" (change)="changeRBtn($event)"> Ievietot
    </div>
  </ng-container>
  <ng-container *ngIf="!! item.id">
    <button class="btn-my-red" (click)="deleteItem()">Dzēst</button>
    <button class="btn-my" (click)="okItem()">Apstiprināt</button>
    <button class="btn-my" (click)="cancel()">Beigt labot</button>
  </ng-container>
</ng-container>
