:host{
  display: block;
  background-color: #eef;
}

//
.btn-my {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: #62bfe6;
  margin: 20px;
  margin-left: 0;
  @media (max-width: 767px) {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
  }
}
.btn-my:hover {
  background: #4ab5e2;
}

.btn-my:active {
  background: #22a1d7;
}
