<section class="well1">
  <div class="container">
    <h2>Feedback</h2>
    <form #formRef="ngForm" class="mailform off2" novalidate>
      <input type="hidden" name="form-type" value="contact">
      <fieldset class="row">
        <label class="grid_4">
          <input type="text" name="name" placeholder="Your Name:" [(ngModel)]="name" required>
        </label>
        <label class="grid_4">
          <input type="text" name="phone" placeholder="Telephone:" [(ngModel)]="phone" pattern="^\+{0,1}\d+">
        </label>
        <label class="grid_4">
          <input type="email" name="email" placeholder="Email:" [(ngModel)]="email" required email>
        </label>
        <label class="grid_12">
          <textarea name="message" placeholder="Message:" [(ngModel)]="message" required minlength="20"></textarea>
        </label>
        <div class="mfControls grid_12">
          <app-btn type="submit" [disabled]="!formRef.valid">Submit comment</app-btn>
        </div>
      </fieldset>
    </form>
  </div>
</section>
