.load-start {
  display: block;
  font: 14px sans-serif;
  color: #5ab7de;
  margin: 0;
  padding: 10px;
  line-height: 1;
}

$fa-font-path: "assets/font-awesome-4.7.0/fonts";

@import "~normalize.css";
@import "assets/font-awesome-4.7.0/scss/font-awesome";
@import "assets/font-roboto/roboto.css";

@import "grid/grid";
@import "styles/styles";
