<section class="well1">
  <div class="container">
    <h2>Feedback</h2>
    <form action="bat/rd-mailform.php" class="mailform off2" novalidate>
      <input type="hidden" name="form-type" value="contact">
      <fieldset class="row">
        <label class="grid_4">
          <input type="text" name="name" placeholder="Your Name:"
                 data-constraints="@LettersOnly @NotEmpty">
        </label>
        <label class="grid_4">
          <input type="text" name="phone" placeholder="Telephone:"  data-constraints="@Phone">
        </label>
        <label class="grid_4">
          <input type="email" name="email" placeholder="Email:"
                 data-constraints="@Email @NotEmpty">
        </label>
        <label class="grid_12">
          <textarea name="message" placeholder="Message:" data-constraints="@NotEmpty"></textarea>
        </label>
        <div class="mfControls grid_12">
          <app-btn type="submit">Submit comment</app-btn>
        </div>
      </fieldset>
    </form>
  </div>
</section>
